<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86422017429-svfign8cfpk2cd3dguvs1q934vqcvg61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86422017429-svfign8cfpk2cd3dguvs1q934vqcvg61</string>
	<key>API_KEY</key>
	<string>AIzaSyDkhhIHS2ZzOa-Bt8jjpJZVG7EPMOH-RfI</string>
	<key>GCM_SENDER_ID</key>
	<string>86422017429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bois.YouDrive</string>
	<key>PROJECT_ID</key>
	<string>youdrive-c95f3</string>
	<key>STORAGE_BUCKET</key>
	<string>youdrive-c95f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86422017429:ios:2eb8625897fe8e0629929c</string>
</dict>
</plist>